---
import { mainTagCss } from "@/layouts/Main.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";

import Button from "@/components/Button.astro";

const EMAIL = "acpc@clubs.youx.org.au";
const JOIN_LINK = "https://forms.gle/KNQsRjctczBmYrg86";
const FACEBOOK_LINK = "https://www.facebook.com/groups/uoacpc";
const DISCORD_LINK = "https://discord.gg/9yBJs68Sj4";
---

<Layout title="The Home of Competitive Programming in South Australia | ACPC">
  <div id="home-hero" class="">
    <Header noBorder={true} />
    <div class={mainTagCss}>
      <section class="py-8 lg:py-16 h-[80vh]">
        <h1
          class="font-bold text-4xl sm:text-6xl lg:text-7xl 2xl:text-8xl mb-8 mt-16"
        >
          THE HOME OF <span class="text-primary">COMPETITIVE PROGRAMMING</span>
          <br />IN SOUTH AUSTRALIA
        </h1>
        <div class="py-4 2xl:py-10"></div>
        <div class="flex flex-wrap gap-4">
          <Button text="Join ACPC" href={JOIN_LINK} />
          <Button variant="empty" href="/about" text="About Us" />
        </div>
      </section>
    </div>
  </div>
  <main class={mainTagCss}>
    <section class="text-lg lg:text-xl mt-16 mb-32">
      <h2 class="font-bold text-4xl lg:text-6xl 2xl:text-7xl mb-4">
        AUCPL 2026
      </h2>
      <div class="text-lg xl:text-xl text-right py-4">
        <p class="mb-4">
          The Adelaide University Competitive Programming League is back for
          2026!
        </p>
        <p class="mb-4">
          Whether you're new to competitive programming or a seasoned veteran,
          we tailor to all skill levels
        </p>
      </div>
      <div class="grid grid-rows-2 py-8">
        <div class="grid grid-cols-1 lg:grid-cols-4 mb-8">
          <div class="col-span-1 lg:col-span-3 bg-accent p-8">
            For seasoned competitive programmers and those looking for a
            challenge. Come along for a challenge, for prizes, and to prepare
            for ICPC!
          </div>
          <div class="pl-6"><h3 class="text-5xl">DIVISION A</h3></div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-4 py-2">
          <div class="pr-6 text-right">
            <h3 class="text-5xl">DIVISION B</h3>
          </div>
          <div class="col-span-1 lg:col-span-3 bg-accent p-8">
            For those who are new to competitive programming. You'll learn the
            fundamentals of data structures and algorithms, and learn how to
            become a competitive programmer.
          </div>
        </div>
      </div>
      <div class="my-8">
        <Button text="Visit AUCPL" href="https://aucpl.com" />
      </div>
    </section>
    <section class="text-lg lg:text-xl mb-32">
      <h2 class="font-bold text-4xl lg:text-6xl 2xl:text-7xl mb-4">ALL UNI</h2>
      <div class="grid grid-cols-1 lg:grid-cols-3 place-items-end">
        <div></div>
        <div class="lg:col-span-2 text-lg xl:text-xl text-right py-4 pb-16">
          <p>
            AllUni is an annual inter-university programming contest bringing
            together the brightest minds across Australia and New Zealand.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="grid-rows-2">
          <img
            src="/images/alluni/alluni2.webp"
            alt="Students in a computer lab competing in a contest"
          />

          <img
            src="/images/alluni/alluni4.webp"
            alt="Students sitting in a lecture theatre"
          />
        </div>
        <div>
          <img
            class="h-full object-cover"
            src="/images/alluni/alluni1.webp"
            alt="Students in a computer lab competing in a contest"
          />
        </div>
      </div>
      <div class="my-20">
        <Button text="Visit AllUni" href="https://alluni.io" />
      </div>
    </section>
    <section class="text-lg lg:text-xl">
      <h2 class="font-bold text-4xl lg:text-6xl 2xl:text-7xl mb-4">
        CONTACT US
      </h2>
      <p class="pb-4">
        If you have any questions about the club, AUCPL, AllUni, or competitive
        programming in general, feel free to reach out!
      </p>
      <p class="pb-4">
        For all official enquiries please email us at <a
          href={`mailto:${EMAIL}`}
          class="underline text-primary">{EMAIL}</a
        >. If you just want to get in touch, you can do so via Instagram or our
        Discord server.
      </p>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  #home-hero {
    background-image: url("/images/rsp-seminar.webp");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: cover;
    background-position-y: center;
    width: 100%;
  }
</style>
