---
import SponsorCard from "../components/SponsorCard.astro";
import Main from "../layouts/Main.astro";

import AtlassianLogo from "../assets/sponsors/atlassian.svg";
import CitSecLogo from "../assets/sponsors/citadel-securities.png";
import HRTLogo from "../assets/sponsors/hrt.svg";
import IMCLogo from "../assets/sponsors/imc.svg";
import JaneStreetLogo from "../assets/sponsors/jane-street.png";
import SigLogo from "../assets/sponsors/sig.png";
import OptiverLogo from "../assets/sponsors/optiver.png";
---

<Main title="Sponsors | ACPC">
  <div class="py-8 lg:py-16">
    <h1 class="text-4xl lg:text-6xl font-bold font-heading">2026 Sponsors</h1>
    <section>
      <p class="mt-4 text-xl">
        We are proudly supported by our sponsors who help us run our contests,
        workshops, and other events.
      </p>
    </section>
    <section class="grid gap-8 py-8">
      <SponsorCard
        name="Citadel Securities"
        description="Citadel Securities is the next-generation capital markets firm and a leading global market maker. We provide institutional and retail investors with the liquidity they need to trade a broad array of equity and fixed income products in any market condition. The brightest minds in finance, science and technology use powerful, advanced analytics to solve the market’s most critical challenges, turning big ideas into real-world outcomes."
        image={CitSecLogo.src}
        alt="Citadel Securities Logo"
      />
      <SponsorCard
        name="IMC"
        description="From Amsterdam to Chicago, Sydney to Mumbai, IMC is where the brightest minds in quant research, tech, and trading come together to solve our industry’s most challenging problems. We hire the most exceptional people, then unleash their potential by giving them access to disruptive, cutting-edge technology including AI, machine learning, and large-scale computing."
        image={IMCLogo.src}
        alt="IMC Logo"
      />
      <SponsorCard
        name="Jane Street"
        description="We were founded by a small group of traders and technologists in a tiny New York office. Today, we have more than 2600 employees across five global offices. We trade a broad range of asset classes on more than 200 venues in 45 countries. We innovate in tech, from functional programming to machine learning to programmable hardware. And while our proprietary trading business thrives, we put our expertise and experience to work for our clients."
        image={JaneStreetLogo.src}
        alt="Jane Street Logo"
      />
      <SponsorCard
        name="Susquehanna"
        description="Susquehanna is a leading market maker in ETFs across the globe and one of the largest wholesale liquidity providers in US listed equities. Susquehanna maintains a diversified portfolio of actively-traded fixed income products including corporate bonds, convertible bonds, and fixed income ETFs."
        image={SigLogo.src}
        alt="Susquehanna Logo"
      />
      <SponsorCard
        name="Optiver"
        description="As a leading proprietary trading firm, Optiver works to make markets more efficient, transparent and stable for all. We have close to 2,000 employees in offices around the world, united in their commitment to providing liquidity, competitive pricing and reliable risk management."
        image={OptiverLogo.src}
        alt="Optiver Logo"
      />
      <SponsorCard
        name="HRT"
        description="Hudson River Trading is a multi-asset class quantitative trading firm that provides liquidity on global markets and directly to our clients. We have built one of the world’s most advanced computing environments for research and development, modeling, and risk management, and are at the forefront of technical innovation for financial markets everywhere. We are thoughtful market leaders, committed to the health and longevity of global markets."
        image={HRTLogo.src}
        alt="HRT Logo"
      />
      <SponsorCard
        name="Atlassian"
        description="Atlassian is a global software company known for developing collaboration and productivity tools that help teams organise, discuss, and complete their work. Founded in 2002 in Sydney, Australia, Atlassian has grown to become a leader in the software industry, offering popular products such as Jira for project management, Confluence for team collaboration, and Trello for task organisation. Atlassian is renowned for its innovative and agile approach, fostering a culture of openness and teamwork. Atlassian's solutions are widely used by software development teams but also serve a variety of industries to enhance efficiency and collaboration across organisations."
        image={AtlassianLogo.src}
        alt="Atlassian Logo"
      />
    </section>
    <section class="mt-16 text-xl">
      <h2 class="text-3xl lg:text-5xl font-bold mb-4">Become a Sponsor</h2>
      <p class="mb-4">
        Being a sponsor of ACPC is a great way to support the competitive
        programming events we run, while also gaining exposure to talented
        students. We offer various sponsorship packages that can be tailored to
        meet your organisation's needs.
      </p>
      <p>
        To learn more about sponsorship opportunities, please reach out to us at
        <a class="text-primary-light" href="mailto:sponsorships@acpc.io"
          >sponsorships@acpc.io</a
        >.
      </p>
    </section>
  </div></Main
>
