---
import SponsorCard from "../components/SponsorCard.astro";
import Main from "../layouts/Main.astro";

import CitSecLogo from "../assets/sponsors/citadel-securities.png";
import IMCLogo from "../assets/sponsors/imc.svg";
import JaneStreetLogo from "../assets/sponsors/jane-street.png";
import SigLogo from "../assets/sponsors/sig.png";
import OptiverLogo from "../assets/sponsors/optiver.png";
---

<Main title="Sponsors | ACPC">
  <div class="py-8 lg:py-16">
    <h1 class="text-4xl lg:text-6xl font-bold">Sponsors</h1>
    <section class="grid gap-8 py-8">
      <SponsorCard
        name="Citadel Securities"
        description="Citadel Securities is the next-generation capital markets firm and a leading global market maker. We provide institutional and retail investors with the liquidity they need to trade a broad array of equity and fixed income products in any market condition. The brightest minds in finance, science and technology use powerful, advanced analytics to solve the market’s most critical challenges, turning big ideas into real-world outcomes."
        image={CitSecLogo.src}
      />
      <SponsorCard
        name="IMC"
        description="From Amsterdam to Chicago, Sydney to Mumbai, IMC is where the brightest minds in quant research, tech, and trading come together to solve our industry’s most challenging problems. We hire the most exceptional people, then unleash their potential by giving them access to disruptive, cutting-edge technology including AI, machine learning, and large-scale computing."
        image={IMCLogo.src}
      />
      <SponsorCard
        name="Jane Street"
        description="We were founded by a small group of traders and technologists in a tiny New York office. Today, we have more than 2600 employees across five global offices. We trade a broad range of asset classes on more than 200 venues in 45 countries. We innovate in tech, from functional programming to machine learning to programmable hardware. And while our proprietary trading business thrives, we put our expertise and experience to work for our clients."
        image={JaneStreetLogo.src}
      />
      <SponsorCard
      name="Susquehanna"
      description="Susquehanna is a leading market maker in ETFs across the globe and one of the largest wholesale liquidity providers in US listed equities. Susquehanna maintains a diversified portfolio of actively-traded fixed income products including corporate bonds, convertible bonds, and fixed income ETFs."
      image={SigLogo.src}
    />
    <SponsorCard
      name="Optiver"
      description="As a leading proprietary trading firm, Optiver works to make markets more efficient, transparent and stable for all. We have close to 2,000 employees in offices around the world, united in their commitment to providing liquidity, competitive pricing and reliable risk management."
      image={OptiverLogo.src}
    />
    </section>
  </div>
</Main>
